.card-bg {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  border-radius: 50px;
  position: relative;
  color: black;
  transition: 0.5s;
}
.card-bg:hover {
  cursor: pointer;
}
.card {
  animation-name: animationName;
  width: 300px;
  height: 300px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: animationName 2s infinite;
  animation-fill-mode: forwards;
}
@keyframes animationName {
  0% {
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
  25% {
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 500px;
    left: 500px;
  }
  50% {
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 500px;
  }
  75% {
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation-play-state: 1s;
    top: 500px;
    left: 0;
  }
  100% {
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
}
